.container{
    margin-top: 70px;
}

.block{
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
.button{
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.coluna{
    margin: 10px ;
}